<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>

		<h1>this is new about</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Sapiente laborum excepturi voluptas cum nesciunt velit qui
			praesentium ipsum. Eaque accusamus veniam similique error
			necessitatibus deserunt perferendis autem itaque amet ex.</p>
			
	</section>
<!-- replacing newabout by base.html page   -->
</body>
</html>